@charset "UTF-8";
:root {
    --primary-color: #40BFFF;
    --white-color: #ffffff;
    --orange-color: #E75F2A;
    --yellow-color: #EFAA3F;

    --primary-text-color: #444444;
    --secondary-text-color: #9098B1;

    --padding-sides: 30px;

    --position-center: center;

    --opacity-all: 0.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
a,
button {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
}
input:focus {
    outline: none;
}
select {
    border: none;
    appearance: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: var(--padding-sides);
  padding-left: var(--padding-sides);
}

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
  }

  .d-flex-align-center {
    display: flex;
    align-items: center;
  }
  .d-flex-al-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .gg-8 {
    grid-gap: 8px;
  }
  .gg-16 {
    grid-gap: 16px;
  }
  .gg-24 {
    grid-gap: 24px;
  }
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
/* COLS */

.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
}

.justify-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}

.link, .link-dash {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: .3s;
}
.link-dash {
    color: var(--secondary-text-color);
    padding-bottom: 2px;
    border-bottom: 1px dashed #9098B1;
}
.link:hover, .link-dash:hover {
    opacity: var(--opacity-all);
}
.btn, .input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    font-weight: 510;
    height: 56px;
    line-height: 20px;
    color: var(--primary-text-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 4px;
    transition: .3s;
}
.btn-52 {
    height: 52px;
}
.btn:hover {
    opacity: var(--opacity-all);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn-secondary {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.input {
  border: 3px solid #86868629
}

/* Typography */
.h2-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--primary-text-color);
    margin: 0;
}
.h4-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--primary-text-color);
    margin: 0;
}
/* Nav Top */
.nav-top {
    position: relative;
    padding: 10px 0;
}
.nav-top .nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-top .nav-row .nav-left, .nav-top .nav-row .nav-right {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
.select-city {
    display: flex;
    grid-gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-text-color);
}

.main-inner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}
/* Sale color */
.l-hot { background-color: var(--yellow-color); }
.m-hot { background-color: var(--orange-color); }
.h-hot {  }
/* Card */
.card {
    display: grid;
    background-color: transparent;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}
.card:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
}
.image-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
}
.card:hover .image-card {
    border-radius: 12px 12px 0px 0px;
}
.image-card::before {
    content: "";
    display: block;
    padding-top: 90%;
}
.image-card .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.image-card .actions {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 16px;
}
.image-card .actions .sale {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 8px 4px;
    border-radius: 4px;
    position: relative;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
}
.image-card .actions .sale::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.image-card .actions .favorite {
    margin-right: 16px;
    opacity: 0;
    transition: .3s;
}
.card:hover .image-card .actions .favorite {
    opacity: 1;
}
.text-card {
    padding: 16px;
}
.text-card .info {
    display: grid;
    grid-gap: 8px;
    margin-bottom: 16px;
}
.text-card .info h3 {
    font-weight: 590;
    font-size: 18px;
    line-height: 18px;
    color: var(--primary-text-color);;
    margin: 0;
}
.text-card .info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #9098B1;
    margin: 0;
}
.text-card .price {
    display: flex;
    align-items: flex-end;
    grid-gap: 8px;
}
.text-card .price .primary-price {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--primary-text-color);;
}
.text-card .price .sale-price {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #9098B1;
}

/* Card PRICE */
.card-price {
    padding: 25px 20px;
    position: sticky;
    top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(144, 152, 177, 0.25);
    border-radius: 12px;
}
.card-price-top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}
.card-price-top h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    margin: 0;
    color: var(--primary-text-color);;
}
.card-price-top .sale-price {
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #9098B1;
}
.card-price p {
    margin: 12px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--primary-text-color);
}

/* Card Description */
.card-description {
    padding: 40px 20px;
    background: #FFFFFF;
    border: 1px solid rgba(193, 200, 206, 0.3);
    border-radius: 8px;
}

/* Link Menu */
.link-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    grid-gap: 8px;
}
.link-menu .lint-text {
    font-weight: 510;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-text-color);;
}

/* Search */
.search-input {
    position: relative;
}
.search-input .search-inner {
    border: 2px solid #BCDDFE;
    border-radius: 4px;
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-weight: medium;
    font-size: 16px;
    line-height: 20px;
    height: 56px;
    padding: 0 20px;
    width: 100%;
    padding-right: 128px;
}
.search-input .search-inner::placeholder {
    color: rgba(38, 38, 38, 0.35);
}
.search-input .btn-search {
    color: white;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0px 4px 4px 0px;
}


/* Banner */

.banner {
    position: relative;
}
.w-100-400 {
    width: 100%;
    height: 400px;
}
.w-100-300 {
    width: 100%;
    height: 300px;
}
.banner .banner-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

/* SideBar */
.backdrp {
    display: none;
    background: rgba(68, 68, 68, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}
.sidebar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: flex-start;
    width: auto;
    max-width: 1223px;
    height: 100%;
    transition: .3s ease-in-out;
    transform: translateX(-150%);
}
.sidebar .sidebar-inner {
    padding: 30px 20px;
    width: 320px;
    height: 100%;
    overflow-y: auto;
}
.sidebar .sidebar-inner:hover + .sidebar-next {
    opacity: 1;
}
.sidebar .sidebar-next {
    padding: 30px 20px;
    width: calc(900px - 285px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    grid-gap: 16px;
}
.sidebar .sidebar-next .sidebar-next-inner {
    width: 50%;
}
.sidebar .sidebar-inner ul li .sidebar-link, .sidebar .sidebar-next-inner ul li .sidebar-link, footer .logo-container span, footer ul li, footer .footer-bottom, .sideCats ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    transition: .3s;
}
.sidebar .sidebar-inner ul li .sidebar-link:hover, .sidebar .sidebar-next-inner ul li .sidebar-link:hover, .sideCats ul li:hover {
    background-color: #F3F5F9;
}
.sidebar .sidebar-inner ul li .sidebar-link .text-link, .sidebar .sidebar-next-inner ul li .sidebar-link .text-link {
    display: flex;
    align-items: center;
}
.sidebar .sidebar-inner ul li .sidebar-link .text-link svg, .sidebar .sidebar-next-inner ul li .sidebar-link .text-link svg {
    margin-right: 12px;
}
.sidebar .sidebar-inner ul li .sidebar-link .svg-link, .sidebar .sidebar-next-inner ul li .sidebar-link .svg-link {
    color: #C1C8CE;
}
.sidebar-next .sidebar-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 12px 0;
    color: var(--primary-text-color);;
}
.sidebar-close {
    padding: 0;
    position: absolute;
    display: flex;
    right: -44px;
    top: 12px;
    color: white;
    transition: .3s;
}
.sidebar-close:hover {
    transform: scale(0.9);
    opacity: var(--opacity-all);
}
.open-side {
  transform: translate(0px);
}
.backdrp.show {
    display: block;
}

/* Breadcrumbs */

.link-back, .link-share {
    display: flex;
}
.breadcrumbs {
    display: flex;
    align-items: center;
}
.breadcrumbs span, .breadcrumbs a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
    transition: .3s;
}
.breadcrumbs a.active { 
    position: relative;
    padding-right: 12px;
    margin-right: 8px;
}
.breadcrumbs a.active::before { 
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.breadcrumbs a:hover {
    opacity: .6;
}

/* Rates and Review */
.rates-review {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(193, 200, 206, 0.3);
}
.rates-review .review-count, .rates-review .product-num {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
}
.rates-review-left {
  grid-gap: 20px;
}

/* Show Images */
.image-show {
    display: flex;
    align-items: flex-start;
}
.image-show .image-thumb {
    width: 72px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
}
.image-show .image-thumb .arrow-up, .image-show .image-thumb .arrow-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.image-show .image-thumb .arrow-up.disabled, .image-show .image-thumb .arrow-bottom.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
}
.image-show .image-thumb .thumbs {
    display: grid;
    max-height: 500px;
    overflow: hidden;
    height: 100%;
    grid-gap: 8px;
}
.image-show .thumb-img, .image-show .big-img {
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-show .thumb-img {
    width: 72px;
    height: 96px;
}
.image-show .image-big {
    margin-left: 24px;
    width: calc(100% - 96px);
}
.image-show .big-img {
    width: 100%;
    height: 590px;
}
/* Review */
.title-between-text {
    width: 100%;
    display: flex;
    align-items: center;
}
.title-between-text .title, .title-between-text .text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.title-between-text .title {
    width: 52%;
    color: var(--secondary-text-color);
    position: relative;
    z-index: 0;
}
.title-between-text .title span {
    display: inline-block;
    padding-right: 8px;
    background-color: var(--white-color);
    z-index: 1;
}
.title-between-text .title::after {
    content: '';
    display: block;
    width: calc(100% - 8px);
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: 0;
    border-bottom: 1px dashed var(--secondary-text-color);
}
.title-between-text .text {
    width: 48%;
    color: var(--primary-text-color);
}

/* Review */
.review p, .review h3 {
  margin: 0
}
.review {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 24px;
  background: #F6F7F8;
  border-radius: 16px;
  color: #444444
}
.review .review-block {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.review .review-block .review-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.review .review-block .review-info .review-image {
  font-weight: 510;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px; 
  background: rgba(193, 200, 206, 0.3);
  border-radius: 100%;
}
.review .review-block .review-name {
  font-weight: 590;
  font-size: 20px;
}
.review .review-block .review-date {
  display: flex;
  align-items: end;
  min-width: 114px;
}

/* YouSearch */
.yousearch {
  display: flex;
  flex-wrap: wrap;
  min-width: 446px;
  color: #444444;
  align-items: flex-start
}
.yousearch .yousearch-item {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  height: 31px;
  background: #F6F7F8;
  border-radius: 8px;
}

/* Footer */
footer .logotype {
  font-weight: 700;
  font-size: 42px;
  color: #000000;
}
footer .logo-container {
  flex-direction: column;
}
footer .logo-container span, footer ul li {
  padding: 0;
  margin: 0 0 8px;
}

/* advantage */
.advantage {
  position: relative;
  z-index: 0;
}
.advantage::after {
  content: '';
  z-index: -1;
  position: absolute;
  background: #f6f7f8;
  top: 0;
  left: -130px;
  width: 150%;
  height: 100%;
}
.advantage .advantage-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 26px;
}
.advantage .advantage-inner .advantage-card {
  background: white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 32px
}
.advantage .advantage-inner .advantage-card:nth-child(1) {
  color: white;
  background: #1A51CD;
}
.advantage .advantage-inner .advantage-card:nth-child(2) {
  color: white;
  background: rgb(135, 241, 135);
}
.advantage .advantage-inner .advantage-card:nth-child(3) {
  color: black;
  background: white;
}
.advantage .advantage-inner .advantage-card:nth-child(4) {
  color: black;
  background: linear-gradient(315deg, #F1AC41 0%, #FDDB7B 100%);
}
.advantage .advantage-inner .advantage-card h4 {
  font-size: 20px;
  font-weight: 590;
}

/* Modal-Autorization */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(68, 68, 68, 0.4);
}
.modal .modal-window {
	max-width: 364px;
	margin: 100px auto;
}
.modal .modal-window .modal-content {
	position: relative;
	width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(144, 152, 177, 0.25);
	border-radius: 12px;
}
.modal .modal-window .modal-content .modal-logo {
  font-size: 33px;
}

.modal .modal-window .modal-content .black {
  color: black
}

/* CardCategory */
.card .image-card .img {
  display: flex;
  align-items: end;
  padding: 8px;
}
.card .image-card .img .card-category-text {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 46px;
}

/* SideCats */
.sideCats ul li a {
  color: var(--primary-text-color)
}

/* Accordion */
.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

/* ------------------------ Всегда ниже всех стилей ------------------------ */

/* Margin top and bottom */
.mtb-0 {
    margin: 0px 0px;
    }
    .mtb-4 {
    margin: 4px 0px;
    }
    .mtb-8 {
    margin: 8px 0px;
    }
    .mtb-16 {
    margin: 16px 0px;
    }
    .mtb-24 {
    margin: 24px 0px;
    }
    .mtb-32 {
    margin: 32px 0px;
    }
    
    /* Margin top and bottom */
    .mtb-auto-0 {
    margin: 0px auto;
    }
    .mtb-auto-4 {
    margin: 4px auto;
    }
    .mtb-auto-8 {
    margin: 8px auto;
    }
    .mtb-auto-16 {
    margin: 16px auto;
    }
    .mtb-auto-24 {
    margin: 24px auto;
    }
    .mtb-auto-32 {
    margin: 32px auto;
    }
    /* Margin top and bottom */
    .mrl-0 {
    margin: 0px auto;
    }
    .mrl-4 {
    margin: 4px auto;
    }
    .mrl-8 {
    margin: 8px auto;
    }
    .mrl-16 {
    margin: 16px auto;
    }
    .mrl-24 {
    margin: 0 24px;
    }
    .mrl-32 {
    margin: 0 32px;
    }
    
    /* Margin Right */
    .mr-0 {
    margin-right: 0px;
    }
    .mr-4 {
    margin-right: 4px;
    }
    .mr-8 {
    margin-right: 8px;
    }
    .mr-16 {
    margin-right: 16px;
    }
    .mr-24 {
    margin-right: 24px;
    }
    .mr-32 {
    margin-right: 32px;
    }
    
    /* Margin Left */
    .ml-0 {
    margin-left: 0px;
    }
    .ml-4 {
    margin-left: 4px;
    }
    .ml-8 {
    margin-left: 8px;
    }
    .ml-16 {
    margin-left: 16px;
    }
    .ml-24 {
    margin-left: 24px;
    }
    .ml-32 {
    margin-left: 32px;
    }
    
    /* Margin Top */
    .mt-0 {
    margin-top: 0px;
    }
    .mt-4 {
    margin-top: 4px;
    }
    .mt-8 {
    margin-top: 8px;
    }
    .mt-16 {
    margin-top: 16px;
    }
    .mt-24 {
    margin-top: 24px;
    }
    .mt-32 {
    margin-top: 32px;
    }
    .mt-64 {
    margin-top: 64px;
    }
    
    /* Margin Bottom */
    .mb-0 {
    margin-bottom: 0px !important;
    }
    .mb-4 {
    margin-bottom: 4px;
    }
    .mb-8 {
    margin-bottom: 8px;
    }
    .mb-16 {
    margin-bottom: 16px;
    }
    .mb-24 {
    margin-bottom: 24px;
    }
    .mb-32 {
    margin-bottom: 32px;
    }
    .mb-40 {
      margin-bottom: 40px;
    }
    .mb-64 {
    margin-bottom: 64px;
    }
    
    .p-0 {
    padding: 0px;
    }
    .p-4 {
    padding: 4px;
    }
    .p-8 {
    padding: 8px;
    }
    .p-16 {
    padding: 16px;
    }
    .p-24 {
    padding: 24px;
    }
    .p-32 {
    padding: 32px;
    }
    .p-64 {
    padding: 64px;
    }
    
    .pt-0 {
    padding-top: 0px;
    }
    .pt-4 {
    padding-top: 4px;
    }
    .pt-8 {
    padding-top: 8px;
    }
    .pt-16 {
    padding-top: 16px;
    }
    .pt-24 {
    padding-top: 24px;
    }
    .pt-32 {
    padding-top: 32px;
    }
    .pt-64 {
    padding-top: 64px;
    }
    
    
    .ptb-0 {
    padding: 0px 0;
    }
    .ptb-4 {
    padding: 4px 0;
    }
    .ptb-8 {
    padding: 8px 0;
    }
    .ptb-16 {
    padding: 16px 0;
    }
    .ptb-24 {
    padding: 24px 0;
    }
    .ptb-32 {
    padding: 32px 0;
    }
    .ptb-64 {
    padding: 64px 0;
    }
    .ptb-128 {
    padding: 128px 0;
    }